mixin header()
    header.header
        .container
            .row
                a.header__logo-title.col-xl-4.col-lg-4.col-md-4.col-sm-5.col-5(href="#")
                    img.header__logo(src="../images/logo.svg")
                    span.header__title Услуги и сервисы Пермского края
                .col-xl-4.col-lg-4.col-md-4.col-sm-1.col-1
                div.header__auth-exit.col-xl-4.col-lg-4.col-md-4.col-sm-6.col-6
                    a.header__auth(href="#")
                        img.header__auth-logo(src="../images/User.svg" alt="user logo")
                        span.header__auth-name Константинопольский К.К 
                    a.header__auth-exit(href="#") Выйти  